.announcement-bar-wrap {
  display: none;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  background-color: #333;
  color: #fff;
   a {
     color: #fff;
     text-decoration: underline;
   }

  > i {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    font-size: 1.5rem;
    padding: 0 15px;
  }
}

.announcement-bar {
  p {
    margin-bottom: 0;
  }
}