h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-headings-font-family);
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-sm;
  }
}


@include media-breakpoint-up(xl) {
  body {
    font-size: $font-size-lg;
  }

  h1 {
    font-size: $h1-font-size-xl;
  }

  h2 {
    font-size: $h2-font-size-xl;
  }

  h3 {
    font-size: $h3-font-size-xl;
  }

  h4 {
    font-size: $h4-font-size-xl;
  }

  h5 {
    font-size: $h5-font-size-xl;
  }

  h6 {
    font-size: $h6-font-size-xl;
  }
}