.navbar.main-navbar {
  background-color: var(--vc-navigation_bg_color);
  &.scrolled {
    background-color: var(--vc-navigation_bg_color_scrolled);
  }
}

.home {
  .navbar.main-navbar {
    background-color: transparent;
    &.scrolled {
      background-color: var(--vc-navigation_bg_color_scrolled);
    }
  }
}

.offcanvas {
  background-color: var(--vc-navigation_bg_color);

  .btn-close {
    color: var(--vc-navigation_link_color);
  }

  .dropdown-menu {
    background-color: var(--vc-navigation_dropdown_bg_color);
  }

  .dropdown-item {
    color: var(--vc-navigation_dropdown_link_color);

    &:hover, &:active, &:focus, &.active {
      background-color: var(--vc-navigation_dropdown_bg_color_hover);
      color: var(--vc-navigation_dropdown_link_color_hover);
    }
  }
}

.offcanvas-end {
  width: 320px;
}

.offcanvas.show {
  transform: translateX(0);
}