//big buttons in navbar
.big-button {
  .btn {
    font-weight: bold;
    background-color: var(--vc-navigation-button-bg-color);
    border-color: var(--vc-navigation-button-bg-color);
    color: var(--vc-navigation-button-text-color);

    &:hover, &:active, &:focus {
      background-color: var(--vc-navigation-button-bg-color-hover);
      border-color: var(--vc-navigation-button-bg-color-hover);
      color: var(--vc-navigation-button-text-color-hover);
    }
  }
}

@media (min-width: 1400px) {
  .big-button {
    .btn {
      font-size: 1rem;
      padding: .8rem 2rem;
    }
  }
}
