//social links
.navbar.main-navbar {

  .phone-and-social {
    align-items: center;
    margin-bottom: 2rem;
  }

  .social-links {
    padding-left: 0;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

.big-button {
  text-align: center;
}

@include media-breakpoint-up(xl) {
  .navbar.main-navbar {
    .phone-and-social {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }

  .home {
    .navbar.main-navbar:not(.scrolled) {
      .social-links {

        a {
          width: 28px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border-radius: 50%;
          color: var(--bs-primary);

          &:hover, &:active, &:focus {
            color: var(--bs-secondary);
          }
        }
      }
    }
  }
}