.wp-block-cover {
  min-height: 150px;

  h1 {
    margin-bottom: 0;
  }
}

.wp-block-cover.has-zoom-animation {
  overflow: hidden;

  > img {
    transition: transform 8s cubic-bezier(0.1, 0.2, .7, 1);
    transform: scale(1.3);
  }
}

.wp-block-cover.has-zoom-animation.vc-animated {
  > img {
    transform: scale(1);
  }
}


@include media-breakpoint-up(lg) {
  .wp-block-cover {
    min-height: 300px;
  }
}