$primary: #376A98; //blue
$secondary: #DD6E26; //pink
$tertiary: #FFE1B2;
$dark: #1A1A1A;
$light: #fff;

$transition: all .4s ease-in-out;

$grid-gutter-width: 2rem;

//site header
$logo-width: 100px;
$logo-width-desktop: 180px;
$header-height: 71px;
$header-height-desktop: 130px;
$header-bg-color: #fff; // header bg color
$header-bg-color-scrolled: #fff; // header bg color when scrolled
$header-bg-color-home: transparent; //bg color for home page
$header-bg-color-home-scrolled: #fff; //bg color for home page when scrolled



// Navbar
$navbar-padding-y: 10px;
//$navbar-padding-x: 10px;
$navbar-nav-link-padding-x: 1rem;
$navbar-brand-padding-y: 0;


// Typography
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$font-size-base: 1rem; //16px
$font-size-sm: 1rem; //18px
$font-size-lg: 1rem; //18px


/*Headings*/
$headings-font-weight: bold;
//font sizes
$h1-font-size: 30px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;
$h1-font-size-xl: 50px;
$h2-font-size-xl: 40px;
$h3-font-size-xl: 30px;
$h4-font-size-xl: 24px;
$h5-font-size-xl: 20px;
$h6-font-size-xl: 16px;
$headings-margin-bottom: 1rem;







// Buttons
$btn-border-radius: 32px;

// Accordion
$accordion-bg: $primary;


  //footer colors
$footerColor: #fff;
$footerBgColor: #333;
$footerFontSize: 15px;
$footerHeadingFontSize: 18px;
$footerCopyrightFontSize: 18px;

// Spacing
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .5,
        2: $spacer * 1,
        3: $spacer * 1.5,
        4: $spacer * 2,
        5: $spacer * 2.5,
        6: $spacer * 3,
        7: $spacer * 3.5,
        8: $spacer * 4,
);


